/*  your css code here. If applicable */
body {
  margin: 0;
  background: rgb(161, 100, 223);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#buttons {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

button {
  background: rgb(102, 51, 153);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 20px 30px;
  font-size: 16px;
  cursor: pointer;
}
